.counter-display{
    text-align: center;
    margin: 50px ;

    
}
.counter-display div{
    display: inline-block;
    font-size: 50px;
    background-color: black;
    color: rgb(28, 255, 8);
    width: 100px;
    padding: 10px;
    font-family: 'Chakra Petch', sans-serif;
    margin: 10px;
}
.tittle{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}