.counter-display{
    text-align: center;
    margin: 50px ;
    
}
.counter-display div{
    display: inline-block;
    font-size: 50px;
    background-color: black;
    color: white;
    box-shadow: white;
    width: 100px;
    padding: 10px;
}
/* .iconClock{
    width: 10px;
    height: 10px;
    padding: 80px;
} */